/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: Outfit, sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

::-webkit-scrollbar {
    display: none; 
}

h1, h2, h3, h4, h5, h6, p {
    text-transform:uppercase;
    line-height: 98.4%;
    margin: 0;
}

h1 {
    font-size: 75px;
    font-weight: 700;
    margin: 0;
}

h2,h3 {
    font-size: 60px;
    font-weight: 600;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
    font-weight: 400;
    color: #0afbfb;
}

p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.btn {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
}

body {
    background: #2771FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

section {
    width: 1065px;
    margin-top: 132px;
}

/* Header */
header {
    max-width: 1065px;
    margin-top: 26px;
}

#nav__list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav__links {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#nav__title {
    font-size: 30px;
    font-weight: 700;
}

.nav__btn {
    font-size: 20px;
    text-shadow: 0 4px 4px  #00000055;
    text-transform: capitalize;
}

/* Hero Section */
#hero {
    margin-top: 0;
    height: 100dvh;
}

.showreel-container {
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#showreel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
    top: 0;
}

#slogan {
    position: absolute;
    bottom: 10px;
    right: auto;
    text-align: center;
    width: 705px;
    text-shadow: 0 4px 4px  #00000055;
}

.showreel__sound-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

#showreel__sound-btn {
    position: relative;
    aspect-ratio: 1;
    width: 55px;
    margin: 10px;
}

/* Specifications Section */
.specs__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specs__title {
    width: 14ch;
    margin-bottom: 41px;
}

.processor-render {
    aspect-ratio: 1;
    width: 435px;
}

.section-btn {
    display: inline-block;
    padding: 12px 79px;
    border: 3px solid #07e5e5;
    border-radius: 36px;
}

.specs__list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.specs__list__item {
    aspect-ratio: 1;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #091C5F30;
    border-radius: 40px;
}

.specs__primary {
    font-size: 120px;
    font-weight: 500;
    color: #27F2FF;
}

.specs__secondary {
    font-size: 50px;
    font-weight: 300;
}

/* Reviews Section */

.reviews__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__title {
    width: 16ch;
    text-align: center;
    margin-bottom: 43px;
}

.reviews__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.reviews__list__item, .review__card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.review__image-container {
    aspect-ratio: 1;
    width: 221px;
    border-radius: 100%;
    overflow: hidden;
    place-content: center;
    position: absolute;
    z-index: 1;
}

.review__image {
    position: relative;
    width: 345px;
}

.review__image--first {
    width: 285px;
    top: -50px;
    right: 25px;
}

.review__image--second { 
    right: 70px;
}

.review__image--third {
    top: -90px;
    right: 50px;
}

.review__card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #091C5F30;
    padding: calc(225px/2) 23px 23px 23px;
    border-radius: 40px;
    height: 460px;
    margin-top: calc(221px/2);
}

.review__name {
    color: #27F2FF;
    margin-bottom: 15px;
}

.review__rating {
    background-image: url("svg/review-star.svg");
    width: 200px;
    height: 34px;
}

/* Shop Section */
#shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.shop__title,
.shop__title--responsive {
    width: 14ch;
    margin-bottom: 41px;
}

.shop__title--responsive {
    display: none;
}

.processor-box {
    width: 435px;
}

/* Partners Section */
#partners {
    display: flex;
    flex-direction: column;
}

.partners__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners__title {
    text-align: center;
}

.partners__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 204px;
    width: 100%;
    margin-top: 41px;
    padding-block: 23px;
    border-radius: 40px;
    background: #091C5F30;

}

.partners__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
        );
}

.partners__list__item {
    opacity: 70%;
    aspect-ratio: 1;
    width: 64px;
    position: absolute;
    left: 100%;
}

.partners__list--upper .partners__list__item {
    animation: scrollLeft 25s linear infinite;
    animation-delay: calc(25s / 10 * (10 - var(--n)) * -1);
}

.partners__list--lower .partners__list__item {
    animation: scrollRight 25s linear infinite;
    animation-delay: calc(25s / 10 * (10 - var(--n)) * -1);
}

.partners__list:hover .partners__list__item {
    animation-play-state: paused;
}

@keyframes scrollLeft {
    to {
        left: -64px;
    }
}

@keyframes scrollRight {
    from {
        left: -64px;
    }
    to {
        left: 100%;
    }
}

/* Footer */

footer {
    box-sizing: border-box;
    margin-top: 132px;
    height: 243px;
    width: 100%;
    padding-block: 59px;
    background: #091C5F30;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 1065px;
    margin-inline: auto;
}

.footer__brand {
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: -1.6%;
}

.footer__column__title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 9px;
}

.footer__column__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__column__line {
    font-size: 13px;
    font-weight: 300;
    text-transform:uppercase;
    line-height: 98.4%;
}

/* Responsive design (1128px) */
@media screen and (max-width: 1128px) {
    /* General Styles */
    section {
        max-width: 774px;
    }

    /* Specifications Section */
    .specs__title {
        width: 458px;
    }

    .processor-render {
        width: 316px;
        height: 434px;
        object-fit: cover;
    }

    .section-btn {
        padding-inline: 29px;
    }

    .specs__list {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(3, 248px);
    }

    .specs__list__item {
        padding-inline: 29px;
    }

    .specs__primary {
        font-size: 100px;
    }

    .specs__secondary {
        font-size: 40px;
        white-space: nowrap;
    }

    /* Reviews Section */
    .reviews__list {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .reviews__list__item {
        width: 345px;
    }

    .reviews__list__item:last-child {
        margin-top: calc(45px - 15px);
    }

    /* Shop Section */
    .shop__title {
        display: none;
    }

    .shop__title--responsive {
        display: inline-block;
        width: 340px;
    }

    .processor-box {
        width: 313px;
        height: 435px;
        object-fit: cover;
    }
    
    /* Partners Section */
    .partners__list__item {
        width: 50px;
    }

    .partners__list--upper .partners__list__item {
        animation: scrollLeft calc(25s * 0.73) linear infinite;
        animation-delay: calc(calc(25s * 0.73) / 10 * (10 - var(--n)) * -1);
    }
    
    .partners__list--lower .partners__list__item {
        animation: scrollRight calc(25s * 0.73) linear infinite;
        animation-delay: calc(calc(25s * 0.73) / 10 * (10 - var(--n)) * -1);
    }

    @keyframes scrollLeft {
        to {
            left: -50px;
        }
    }
    
    @keyframes scrollRight {
        from {
            left: -50px;
        }
        to {
            left: 100%;
        }
    }

    /* Footer Section */
    .footer__content {
        width: 774px;
    }
}
/* 
@media screen and (max-width: 855px) {
    
} */